.main-layout-grid-container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 0.12fr 0.88fr;
}

.header {
    margin-top: 2rem;
    margin-left: 2rem;
    z-index: 10;
}

.header-subcontainer {
    height: calc(100% - 2rem);
    margin-right: 2rem;
}

.content {
    margin-left: -2rem;
    grid-row: 2 span;
    z-index: 30;

}

.content-subcontainer {}

.sidepanel {
    margin-top: -2rem;
    margin-bottom: 2em;
    z-index: 20;
}

.sidepanel-subcontainer {
    height: 100%;
    margin-right: 2rem;
}